<?xml version="1.0" encoding="utf-8"?>
<SQLGeneratorConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MainFormDBHost>.\SQLEXPRESS</MainFormDBHost>
  <MainFormDBUID>sa</MainFormDBUID>
  <MainFormDBPWD>Pa$$w0rd</MainFormDBPWD>
  <MainFormDBName>EIP_MIDDLE456</MainFormDBName>
  <ExecuteSQLServer>172.16.3.91</ExecuteSQLServer>
  <ExecuteSQLUID>sa</ExecuteSQLUID>
  <ExecuteSQLPassword />
  <ExecuteSQLDatabase>WebERP_XXX</ExecuteSQLDatabase>
</SQLGeneratorConfig>