<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="data source='.\SQL2008R2';initial catalog='UOF_NANPAO';User Id='sa';Password='Pa$$w0rd';Max Pool Size=300" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>