<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ConnectionString" value="data source='172.16.3.12';initial catalog='Ede.Uof.DB.Release';User Id='sa';Password='as';Max Pool Size=300"/>
  </appSettings>
</configuration>
